.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 50%;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}
